doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', type='text/css', href='/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='/bootstrap-fileinput/css/fileinput.min.css')
    script(src='/jquery/dist/jquery.js')
    script(src='/bootstrap-fileinput/js/fileinput.min.js')
    script(src='/bootstrap/dist/js/bootstrap.js')
  body
    block content
